@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: none;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #131313;
  position: relative;
}

.mask {
  position: absolute;
  mask-image: url("./assets/cursor.svg");
  mask-repeat: no-repeat;
  top: 0;
  left: 0;
  background: white;
  mask-position: center;
  mask-size: 30px;
  color: black;
}
