@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: none;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #131313;
  position: relative;
}
